@charset "UTF-8";

input.form-control, .btn {
		margin-bottom: 10px;
}

.grey-back {
	padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: inherit;
    background-color: #eee;
}

.info {
	font-size : 0.8em;
}

Label.label {
	font-size: 1em;
	color: grey;
}